body{
margin:0;
font-family:Arial,sans-serif;
background:#f3f7f3;
}

header{
background:#2e7d32;
color:white;
padding:30px;
text-align:center;
border-radius:0 0 20px 20px;
}

.container{
padding:20px;
}

.menu{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
margin-top:20px;
}

.menu-card{
background:white;
padding:25px;
border-radius:20px;
text-align:center;
text-decoration:none;
color:#222;
box-shadow:0 5px 15px rgba(0,0,0,.12);
transition:.3s;
}

.menu-card:hover{
transform:translateY(-5px);
}

.menu-card h3{
margin-top:10px;
}

.menu-card{
    text-decoration:none;
    color:#222;
}

.menu-card .icon{
    font-size:48px;
    margin-bottom:15px;
}

.menu-card h3{
    font-size:24px;
    font-weight:700;
}

.menu-card p{
    font-size:15px;
    color:#666;
    line-height:1.4;
}

.member-card{

background:white;

border-radius:20px;

padding:25px;

margin-bottom:20px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.member-photo{

width:90px;

height:90px;

border-radius:50%;

display:block;

margin:auto;

margin-bottom:15px;

border:4px solid #2e7d32;

}

.badge{

display:inline-block;

background:#E8F5E9;

padding:6px 15px;

border-radius:30px;

font-weight:bold;

color:#2E7D32;

margin-bottom:15px;

}
